ai-support-n8n/inbound_handler.json
{
  "name": "Inbound Message Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inbound-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "whatsapp-webhook",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "inbound-whatsapp"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inbound-telegram",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "telegram-webhook",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        500
      ],
      "webhookId": "inbound-telegram"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inbound-web",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "web-webhook",
      "name": "Web Widget Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        700
      ],
      "webhookId": "inbound-web"
    },
    {
      "parameters": {
        "jsCode": "// Normalize WhatsApp message\nconst body = $input.item.json.body;\n\nreturn {\n  channel: 'whatsapp',\n  user_id: body.entry[0].changes[0].value.messages[0].from,\n  message: body.entry[0].changes[0].value.messages[0].text.body,\n  user_name: body.entry[0].changes[0].value.contacts[0].profile.name,\n  raw_payload: body,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "normalize-whatsapp",
      "name": "Normalize WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normalize Telegram message\nconst body = $input.item.json.body;\nlet messageText = '';\nlet userId = '';\nlet userName = '';\n\nif (body.callback_query) {\n  // Handle button click\n  messageText = body.callback_query.data;\n  userId = body.callback_query.from.id.toString();\n  userName = `${body.callback_query.from.first_name} ${body.callback_query.from.last_name || ''}`.trim();\n} else if (body.message) {\n  // Handle text message\n  messageText = body.message.text;\n  userId = body.message.from.id.toString();\n  userName = `${body.message.from.first_name} ${body.message.from.last_name || ''}`.trim();\n}\n\nreturn {\n  channel: 'telegram',\n  user_id: userId,\n  message: messageText,\n  user_name: userName,\n  raw_payload: body,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "normalize-telegram",
      "name": "Normalize Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Web widget message already normalized by FastAPI\nconst body = $input.item.json.body;\n\nreturn {\n  channel: 'web',\n  user_id: body.user_id,\n  message: body.message,\n  user_name: body.user_name || 'Web User',\n  raw_payload: body,\n  timestamp: body.timestamp || new Date().toISOString()\n};"
      },
      "id": "normalize-web",
      "name": "Normalize Web",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        700
      ]
    },
    {
      "parameters": {},
      "id": "merge-channels",
      "name": "Merge All Channels",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        680,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_BASE }}/session-manager",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $json.channel }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.user_id }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "user_name",
              "value": "={{ $json.user_name }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "forward-to-session",
      "name": "Forward to Session Manager",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Message received\" } }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        500
      ]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Normalize WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "Normalize Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Web Widget Webhook": {
      "main": [
        [
          {
            "node": "Normalize Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize WhatsApp": {
      "main": [
        [
          {
            "node": "Merge All Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Telegram": {
      "main": [
        [
          {
            "node": "Merge All Channels",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Normalize Web": {
      "main": [
        [
          {
            "node": "Merge All Channels",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge All Channels": {
      "main": [
        [
          {
            "node": "Forward to Session Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to Session Manager": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}